.landing-ident {

  & .landing-main-header__title {
    margin-top: 42rem;

    @include above($mobile) {
      margin-top: 70rem;
    }

    @include above($tablet) {
      margin-top: 16rem;
    }
  }

  & .landing-main-header {
    position: relative;

    background: url("../img/main-image-mob.png") no-repeat top center;
    background-size: cover;

    @include above($mobile) {
      height: 131.7rem;
    }

    @include above($tablet) {
      background: url("../img/main-image-extra.png") no-repeat top center;
      background-size: cover;
      height: 131rem;
    }

    &__title {
      white-space: nowrap;

      span:nth-of-type(2) {
        font-size: 2.5rem;

        @include above($mobile) {
          font-size: 4rem;
        }
      }
    }
  }

  & .landing-main-header__logo {
    top: 9.2rem;
    width: 18.5rem;
    height: auto;

    @include above($tablet) {
      top: 5rem;
      width: 20.5rem;
      left: 10rem;
    }

    @include above($desktop) {
      top: 10rem;
    }

    @include above($mid-desktop) {
      top: 25.2rem;
    }
  }

  &-block {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include above($tablet) {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    &__title {
      font-family: Nissan Brand, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      white-space: nowrap;
      color: #FFFFFF;
      margin-bottom: 0.5rem;

      @include above($tablet) {
        font-size: 35px;
      }
    }

    &__subtitle {
      font-family: Nissan Brand, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 2rem;

      @include above($tablet) {
        font-size: 18px;
        margin-bottom: 6.3rem;
      }
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        width: 20rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include above($tablet) {
          width: 30rem;
        }

        span {
          margin-top: 1rem;
          font-family: Nissan Brand,sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          text-align: center;
          letter-spacing: 0.01em;
          text-transform: uppercase;
          color: #FFFFFF;

          @include above($tablet) {
            font-size: 50px;
          }
        }

        img {
          width: 4rem;
          height: 4rem;

          @include above($tablet) {
            width: 12rem;
            height: 12rem;
          }
        }
      }
    }
  }
}