mixin landing-ident
    section.section
        .section__wrapper
            .landing-main.landing-ident
                header.landing-main-header
                    img(src='img/nissan-logo.png').landing-main-header__logo
                    .landing-main-header__title
                        span Абсолютно новый
                        span Nissan Pathfinder
                        span В России уже в конце 2021 года
            .landing-ident-block
                .landing-ident-block__title ВЫБЕРИТЕ ТИП ИДЕНТИФИКАЦИИ
                .landing-ident-block__subtitle для подключения к сети Интернет
                .landing-ident-block__buttons
                    a(href='#')
                        img(src='img/sms.png')
                        span СМС
                    a(href='#')
                        img(src='img/call.png')
                        span звонок