extends ../layouts/default

block content
    .index Список страниц:
        a(href='landing-ident.html') Идентификация
        a(href='landing-internet.html') Идентификация по телефону
        a(href='landing-sms.html') Ввод телефона
        a(href='landing-question.html') Анкета с бэкграундом
