mixin landing-internet
    section.section
        .section__wrapper
            .landing-internet
                .landing-main__image
                    img(src='img/nissan-path-extra.png')
                    img(src='img/nissan-logo.png').landing-main-header__logo
                    .landing-ident-block
                        .landing-ident-block__title ВВЕДИТЕ СВОЙ ТЕЛЕФОН
                        .landing-ident-block__subtitle пройдите идентификацию для входа в Интернет
                        form.landing-internet-form
                            .landing-internet-form__input
                                input
                            button(type='submit') Войти
                        a(href="").landing-internet__link выбрать другой тип идентификации
                        span нажимая "Войти", вы соглашаетесь с правилами